{% extends 'movies/base.html' %}
{% load static i18n %}
{% block title %} {{ movie.title }} {% endblock title %}
{% block container %}
<div class="container py-md-3">
    {% endblock container %}
    {% block sidebar %}
    <div class="side-bar col-lg-4">
        {% endblock sidebar %}

        {% block movie %}
        <div class="left-ads-display col-lg-8">
            <div class="row">
                <div class="desc1-left col-md-6" >
                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                </div>
                <div class="desc1-right col-md-6 pl-lg-4">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                        {{ movie.title }}
                    </h3>
                    <h5 class="editContent"></h5>
                    <ul>
                        <li style="list-style: none">
                            <span><b>{% trans 'Year:' %}</b> {{ movie.year }}</span></li>
                        <li>
                            <span><b>{% trans 'Country:' %}</b> {{ movie.country }}</span>
                        </li>
                        <li>
                            <span><b>{% trans 'Tagline:' %}</b> {{ movie.tagline }}</span>
                        </li>
                        <li>
                                    <span><b>{% trans 'Director by:' %}</b>
                                        {% for director in movie.directors.all %}
                                        <!-- в качестве уникального обьекта передаем его слаг(имя)-->
                                        <a href="{% url 'actor_or_director_detail' director.name %}">{{ director.name }}</a>

                                        {% endfor %}
                                    </span>
                        </li>
                        <li><span><b>{% trans 'Actors:' %}</b>
                                    {% for actor in movie.actors.all %}
                                        <a href="{% url 'actor_or_director_detail' actor.name %}">{{ actor.name }}</a>
                                    {% endfor %}
                                </span>
                        </li>
                        <li><span><b>{% trans 'Genre:' %}</b>
                                    {% for genre in movie.genres.all %}
                                        {{ genre.name }}
                                    {% endfor %}
                                    </span>
                        </li>
                        <li style="list-style: none"><span><b>{% trans 'Premier in world:' %}</b> {{ movie.world_premiere }}</span>
                        </li>
                        <li style="list-style: none">
                            <span><b>{% trans 'Budget:' %}</b> ${{ movie.budget }}</span></li>
                        <li style="list-style: none">
                            <span><b>{% trans 'Fees in USA:' %}</b> ${{ movie.fees_in_usa }}</span></li>
                        <li style="list-style: none"><span><b>{% trans "Fees in world:" %}</b> ${{ movie.fess_in_world }}</span>
                        </li>
                        <li>
                            <form action="{% url 'add_rating' %}" method="post" name="rating">
                                <b>Rating</b>
                                {% if star_form.fields.star.choices is defined %}
                                    The variable is empty.

                                {% else %}

                                {% csrf_token %}
                                <!-- добавляем еще одно скрытое поле у котого значение - это id нашего поля, а  name  должно быть movie -->
                                <input type="hidden" value="{{ movie.id }}" name="movie">
                                <!-- в тег спан положил цикл for в котором буду перебирать звезды рейтинга... -->
                                <!--конечно, мы могли передать form star и джанго отрендерил бы нам форму, но джанго по стандарту делает список ( http://i.imgur.com/Eb0Uo6P.png)
                                в которые вложены поля, поетому мы закастомим это(вручную отрендерить данную форму)-->
                                <span class="rating">
                                    <!-- обращаемся к нашему ключу star_form переопредленному полю star и наш ModelChoiceField...-->
                                    <!-- таким образом мы получаем список наших звезд в виде кортежа -->
                                    {% for k, v in star_form.fields.star.choices %}
                                    <!-- в поле id добавляю rating с нашим значением -->
                                        <input id="rating{{ v }}" name="star" value="{{ k }}" type="radio">
                                    <!--k(ключ) выводим как описание-->
                                            <label for="rating{{ v }}">{{ k }}</label>
                                    {% endfor %}
                                    {% endif %}
                                </span>
                            </form>
                        </li>
                        <div class="share-desc">
                            <div class="share">
                                <h4 class="editContent"
                                    style="outline: none; cursor: inherit;">
                                    Share:</h4>
                                <ul class="w3layouts_social_list list-unstyled">
                                    <li>
                                        <a href="#" class="w3pvt_facebook editContent"
                                           style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="w3pvt_twitter editContent"
                                           style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="w3pvt_dribble editContent"
                                           style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                </div>
            </div>
            <div class="row sub-para-w3layouts mt-5">

                <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                    {% trans 'About movie' %}{{ movie.title }}
                </h3>
                <p>
                    {% for image in movie.movieshots_set.all %}
                    <!-- от нашей обьекта модели movie мы забираем все записи модели movieshots принадлежеаму нашему обьекту по форейн кей -->
                    <img src="{{ image.image.url }}" class="img-movie-shots" alt="{{ image.description }}">
                    <!-- image - это наш обьект из модели movieshots .. обращаемся у полю image и по определинию у этого поля(models.ImageField) есть url для вывода его в темплейте -->
                    {% endfor %}

                </p>
                <p class="editContent">
                    <!--  для того что бы выводились наши теги на  UI, а не как строка(http://i.imgur.com/mZlmlbd.png),
                     а сразу с преобразованием, то нужно добавить фильтр safe - это для использование редактора ckeditor в админке django и plugin youtube -->
                    {{ movie.description|safe }}
                </p>
                <!--                <p class="mt-3 italic-blue editContent"-->
                <!--                   style="outline: none; cursor: inherit;">-->
                <!--                    <iframe width="560" height="315"-->
                <!--                            src="https://www.youtube.com/embed/A36LahZNUiE?controls=0"-->
                <!--                            frameborder="0" allow="accelerometer; autoplay;-->
                <!--                                                                           encrypted-media; gyroscope; picture-in-picture"-->
                <!--                            allowfullscreen>-->

                <!--                    </iframe>-->
                <!--                </p>-->
            </div>
            <hr>
            <div class="row">
                <div class="single-form-left">
                    <!-- contact form grid -->
                    <div class="contact-single">
                        <h3 class="editContent">
                            <span class="sub-tittle editContent">{{ movie.reviews_set.count }}</span>
                            {% trans 'Leave a review' %}</h3>
                        <!--      2) в самой форме добавим аттрибут  id                  -->
                        <form action="{% url 'add_review' movie.id %}" method="post" class="mt-4" id="formReview">

                            {% csrf_token %}
                            <!-- Реализуем возможность ответить на отзыв... 1)для этого  добавим скрытое поле для ввода в котором будем передавать id того отзыва на которыйы хотим ответить(нашего родителя)   -->
                            <input type="hidden" name="parent" id="contactparent" value="">
                            <div class="form-group editContent">
                                <label for="contactcomment" class="editContent">
                                    {% trans 'Your Comments' %}
                                    *</label>
<!--                                <textarea class="form-control border" rows="5" name="text"-->
<!--                                          id="contactcomment" required=""></textarea>-->
                                {{form.text}}  <!-- и вот сейчас сюда в textarea что выше будет подставляться наша форма с автоматически сгенерирумым  html -->
                            </div>
                            <div class="d-sm-flex">
                                <div class="col-sm-6 form-group p-0 editContent">
                                    <label for="contactusername" class="editContent">
                                        {% trans 'Name *' %}
                                    </label>
<!--      раб код но без рекпчи           <input type="text" class="form-control border" name="name"-->
<!--                                           id="contactusername" required="">-->
                                    {{ form.name }}
                                </div>
                                <div class="col-sm-6 form-group ml-sm-3 editContent">
                                    <label for="contactemail" class="editContent">
                                        Email *
                                    </label>
<!--                                    <input type="email" class="form-control border" name="email"-->
<!--                                           id="contactemail" required="">-->

                                    {{ form.email }}
                                </div>
                                {{ form.captcha }}
                            </div>
                            <button type="submit" class="mt-3 btn btn-success btn-block py-3">
                                {% trans 'Send' %}
                            </button>
                        </form>
                    </div>
                    <!--  //contact form grid ends here -->
                </div>
            </div>
            <!--                { % for review in movie.reviews_set.all % } - возвращает все отзывы по фильму -->
            <!--5)ниже возращаем все отзывы где парент==ноль через метод которые прописали в model.py, что бы ренедерились только те отзывы у которых нет родителя, т.е. самые первые  -->
            {% for review in movie.get_review %}
            <div class="media py-5">
                <img src="{% static 'images/te2.jpg' %}" class="mr-3 img-fluid" alt="image">
                <div class="media-body">
                    <h5 class="mt-0 editContent">
                        {{ review.name }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                    <!--  3) теперь к отзываем доавим ссылку(кнопку), что бы могли ответить на отзыва и в href добавим
                        id  нашей формы что при клике на нее  пользователь поднимался(а не редиректился ) к отправки формы
                        + добавим функцию  addReview - будем передавть имя  и id  пользователся на который хотим ответить -->
                    <a href="#formReview" onclick="addReview('{{ review.name }}', '{{ review.id }}')">Ответить</a>

                    <!--   6) влоденные наши отзывы будем отображаться с помощью цикла-->
                    <!--   6.1) теперь обращаясь к нашему обьекту отзыва и получая все отзывы, которые завязаны на нашем отзыве, то ниже способо мы выводим текст нашего отзыва-->
                    {% for rew in review.reviews_set.all %}

                    <div class="media mt-5 editContent">
                        <a class="pr-3" href="#">
                            <img width="80px" src="{% static 'images/te2.jpg' %}" class="img-fluid" alt="image">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0 editContent">
                                {{ rew.name }}
                            </h5>
                            <p class="mt-2 editContent">
                                {{ rew.text }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--        4) затем создадим блок скрип и напишем функцию  addReview. Мы сделаем таким образом что id
                будет подставляться в поле parent, а имя пользователя в само сообщение  -->
    <!-- 4.1) находим на нашей странице по id поле parent и затем в его аттрибут value  добавляем id , котлорое нам пришло-->
    <!-- 4.2) затем так же по id  находим наше поле для отзыва и добавляем в него имя пользователя и запятую-->
    <script>
            function addReview(name, id) {
                document.getElementById("contactparent").value = id;
                document.getElementById("contactcomment").innerText = `${name}, `
            }

    </script>
    {% endblock movie %}
